name: "Advance"
concurrency: update-advance
on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:
jobs:
  advance:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup-nix
      uses: cachix/install-nix-action@v20
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes
          extra-binary-caches = https://nixpkgs-wayland.cachix.org
          extra-trusted-public-keys = nixpkgs-wayland.cachix.org-1:3lwxaILxMRkVhehr5StQprHdEo4IrE8sRho9R9HOLYA=
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          accept-flake-config = true
    - name: prepare
      run: nix develop -c .github/init
    - name: advance
      env:
        CACHIX_SIGNING_KEY_NIXPKGS_WAYLAND: "${{ secrets.cachix_signing_key_nixpkgs_wayland }}"
      run: nix develop -c ./main.nu advance
