name: "Update"
concurrency: update-advance
on:
  push:
    branches:
    - master
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v14
    - name: prepare
      run: |
        .github/exec nix-build --version
    - name: git-setup
      run: |
        cat << EOF | .github/exec
          git config --global user.name 'Cole Botkens'
          git config --global user.email 'cole.mickens+colebot@gmail.com'
          git remote update
        EOF
    - name: update
      env:
        CACHIX_SIGNING_KEY: "${{ secrets.cachix_key_nixpkgs_wayland }}"
      run: |
        .github/exec ./update.sh
    - name: push
      run: |
        .github/exec git push origin HEAD
